div.menu-overlay {
  position: absolute;
  min-height: 917px;
  width: 100vw;
  background: rgba(22, 18, 18, 0.99);
  z-index: 100;
  padding-top: 34px;
}

.menu-overlay .close-overlay-icon {
  padding-right: 34px;
  display: flex;
  justify-content: flex-end;
}

.menu-overlay .menu-options {
  margin-top: 126px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
}

.menu-overlay a.menu-option {
  margin-top: 43px;
  color: white;
  text-decoration: none;
}

.menu-overlay .menu-options a.menu-option:first-child {
  margin-top: 0;
}