.header {
  height: 120px;
  width: 100%;
  background-color: #131212;
  padding: 40px 27px;
  display: flex;
  justify-content: center;
}

.header-padding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo .user-image {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 3px solid white;
}

.logo .fake-logo {
  height: 42px;
  width: 42px;
}

.menu-list.menu-options {
  display: none;
}

.menu-list .menu-option {
  margin-right: 30px;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.menu-list .menu-option:hover {
  color: #e6e6e6;
}

.menu-list .menu-option:last-of-type {
  margin-right: 0px;
}
.menu-list .menu-option.active {
  border-radius: 2px;
  border-bottom: 3px solid #545353;
  padding-bottom: 5px;
}


/* Tablets adn beyond */
@media only screen and (min-width: 600px) {
  .menu-hambugger {
    display: none;
  }

  .menu-list.menu-options {
    display: block;
  }
}
